.case_studies{
  display: flex;
  flex-direction: row;
  @include theme(border-bottom, text, solid 5px);
  @media screen and (max-width: $md) {
    flex-direction: column;
  }

  &__title {
    flex: 1;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    align-items: center;
    justify-content: center;
    @include theme(color, background);
    @include theme(background-color, text);

    h2 {
      text-transform: uppercase;
      writing-mode: vertical-rl;
      text-orientation: upright;
      @media screen and (max-width: $md) {
        writing-mode: horizontal-tb;
        text-orientation: initial;
        font-size: 3rem;
      }
    }
  }
  &__container{
    flex: 3;
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: column;
  }
}