* {
font-family: 'Oswald', sans-serif;
}

$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;
$bitter: 'Bitter', sans-serif;

.oswald {
    font-family: $oswald;
}

.lato {
    font-family: $lato;
}

.bitter {
font-family: $bitter;
}
