header {
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    margin-top: -3px;
    position: relative;
    @include theme(border, text, solid 3px);
    @include theme(border-bottom, text, solid 5px);
}

.navbar {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    @media screen and (max-width: $md) {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    &.open li {
        display: none;
        @media screen and (min-width: $md) {
            display: flex;
        }
    }
    &.open li.navbar__link-active {
        display: flex;
    }
    &.open .navbar__themes {
        display: none;
        @media screen and (min-width: $md) {
            display: flex;
        }
    }
    li {
        flex: 2;
        display: flex;
        justify-content: center;
        @media screen and (max-width: $md) {
            width: 100%;
            padding: 1rem 0;
            @include theme(border-bottom, text, solid 3px);
        }
        &.navbar__link-active {
            @media screen and (max-width: $md) {
                display: flex;
            }
        }
        &.navbar__link-active a {
            font-family: $bitter;
            font-weight: 900;
            font-size: 1.3rem;
            text-decoration: none;
            @include theme(color, red);
            @media screen and (max-width: $md) {
                display: block;
            }
        }
    }

    &__link {
        @include theme(color, text);
        font-family: $bitter;
        font-weight: 500;
        font-size: 1.2rem;
        text-decoration: none;
        @media screen and (max-width: $md) {
            // display: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &__themes {
        flex: 1;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-content: center;
        @media screen and (max-width: $md) {
            padding: 0;
        }
        & li {
            display: flex;
            flex: 1;
            @include theme(border-bottom, transparent, solid 0);
        }
    }
    &__theme {
        padding: 0;
        width: 2rem;
        height: 2rem;
        display: flex;
        cursor: pointer;
        border-radius: 5rem;
        border: solid 3px black;
        @include theme(background-color, background);
        @include theme(border-color, text);
        &:before {
            content: ' ';
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 2rem;
            display: flex;
            align-self: center;
            margin: 0 auto;
            @include theme(background-color, text);
        }
    }
    &__menuicon {
        top: 0.8rem;
        position: absolute;
        right: 0.5rem;
        background: none;
        border: none;
        cursor: pointer;
        img {
            width: 2rem;
        }
        @media screen and (min-width: $md) {
            display: none;
        }
    }
}