.skills {
    display: flex;
    flex-direction: row;
    @include theme(border-bottom, text, solid 5px);
    @media screen and (max-width: $md) {
        flex-direction: column;
    }
    &__details {
        flex: 3;
        display: flex;
        flex-direction: column;
        @include theme(border-right, text, solid 3px);
        @media screen and (max-width: $md) {
            flex: unset;
            @include theme(border-right, transparent, solid 0);
        }
    }
    &__title {
        @include theme(background-color, text);
        h2 {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            @include theme(color, background);
        }
    }
    &__react {
        flex: 1;
        display: flex;
        padding: 1rem;
        text-align: center;
        align-content: center;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: $md) {
            flex: unset;
        }
        img {
            flex: 2;
            width: 100%;
            display: flex;
        }
        h3 {
            flex: 1;
            margin: 0;
            width: 100%;
            display: flex;
            align-self: center;
            font-size: 3rem;
            justify-content: end;
            flex-direction: column;
            @include theme(color, blue);
            @media screen and (max-width: $md) {
                font-size: 3rem;
            }
        }
    }
    &__list {
        width: 100%;
        margin :0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media screen and (max-width: $md) {
            padding: 0;
            flex-wrap: wrap;
        }
        li {
            display: flex;
            padding: 1rem;
            text-align: center;
            justify-items: center;
            justify-content: center;
            align-content: center;
            @media screen and (max-width: $md) {
                flex: 1 0 50%;
                padding: 0.5rem;
            }
        }
        img {
            @media screen and (max-width: $lg) and (min-width: $md) {
                width: 50px;
            }
        }
    }
    &__logo-theme {
        @include theme(filter, text);
    }
}