.social {
  flex: 1;
  display: flex;
  @include theme(border-top, text, solid 3px);
  &__list{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
  }
  &__link {
    display: block;
    padding: 1rem 0;
  }
  &__link  img{
    display: block;
    max-height: 30px;
  }
}