<!doctype html>

<html lang="en" class="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jessai Maya | Portfolio </title>
  <meta name="description" content="Jessai Maya | Web Developer personal website">
  <meta name="author" content="Jessai Maya">

  <meta property="og:title" content="Jessai Maya | Web Developer">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://jessai.dev/">
  <meta property="og:description" content="Jessai Maya personal website and portfolio.">
  <meta property="og:image" content="images/me_news.jpg">

  <link rel="icon" href="{{ get_url(path="/images/favicon.ico") }}">
  <link rel="apple-touch-icon" href="{{ get_url(path="/images/apple-icon.png") }}">

  <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css" type="text/css">
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
  <!--
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500;900&family=Lato:wght@400;900&family=Oswald:wght@700&display=swap" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNTBS7KFET"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YNTBS7KFET');
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  {% block head_scripts %} {% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <nav>{% include "navbar.html" %}</nav>
        </header>
        <main>
            <article>
                {% block content %} {% endblock %}
            </article>
        </main>
        <footer>{% include "footer.html" %}</footer>
    </div>

    <script  src="./base.js"></script>
    {% block external_scripts %} {% endblock %}
</body>
</html>
