<section class="experience">
  <div class="experience__title" id="experience">
    <h2 data-aos="fade-right">Experience</h2>
  </div>
  <div class="experience__jobs">
    <ul class="experience__list">
      <li class="experience__job">
        <div class="job__title"><h3 data-aos="fade-down" data-aos-delay="200">Web UI Developer</h3></div>
        <div class="job__details">
          <h4 class="job__place" data-aos="fade-right" data-aos-delay="300">Globant</h4>
          <h4 class="job__date" data-aos="fade-left" data-aos-delay="300">2020 - Present</h4>
        </div>
        <div class="job__description" data-aos="fade" data-aos-delay="400">
          <p>
            Working as Web UI Developer, I've been part of a huge Fin-Tech companies collaborating as legacy code maintainer and developing new features with the use of new technologies and frameworks.
          </p>
          <p>
            One of the challenges of working in with a big team is the following of the standards to deliver clean, functional, tested and well documented code to avoid obstruct its CI/CD flow.
          </p>
          <p>
            Following an agile methodology, managing a version control system, having excellent team communication and fulfilling the commitment for delivering is just my day-to-day.
          </p>
        </div>
        <div class="job__activities">
          <ul class="job__activities__list" data-aos="fade-right" data-aos-delay="500">
            <li class="job__activity">AngularJS</li>
            <li class="job__activity">React</li>
            <li class="job__activity">Cypress</li>
            <li class="job__activity">Jest</li>
            <li class="job__activity">Redux</li>
            <li class="job__activity">Image processing</li>
            <li class="job__activity">File generation</li>
            <li class="job__activity">Storybook</li>
            <li class="job__activity">SASS</li>
            <li class="job__activity">Typescript</li>
            <li class="job__activity">Async - API Rest</li>
            <li class="job__activity">Postman</li>
            <li class="job__activity">Agile - Jira</li>
            <li class="job__activity">Confluence</li>
            <li class="job__activity">Git (GitHub - Gitlab)</li>
          </ul>
        </div>
        <div class="job__study">
          <ul class="case__list">
            <li class="case__item">
              <a href="/studies/globant/" class="case__link">Case Study</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="experience__job">
        <div class="job__title"><h3 data-aos="fade-down" data-aos-delay="200">FullStack / Designer</h3></div>
        <div class="job__details">
          <h4 class="job__place" data-aos="fade-right" data-aos-delay="300">Eat-In App</h4>
          <h4 class="job__date" data-aos="fade-left" data-aos-delay="300">2019 - 2020</h4>
        </div>
        <div class="job__description" data-aos="fade" data-aos-delay="400">
          <p>
            Low time-consuming to develop a prototype to put into the test in the market as soon as possible was the challenge working in this startup.
          </p>
          <p>
            Working as Fullstack in this company gave me the great opportunity to perform not only as front & back end developer but as designer as well.
          </p>
          <p>
            Creating re-usable, dynamic, real-time and performant components for this application was the representation of my knowledge in UI / UX.
          </p>
        </div>
        <div class="job__activities">
          <ul class="job__activities__list" data-aos="fade-left" data-aos-delay="500">
            <li class="job__activity">React Native</li>
            <li class="job__activity">React - Web</li>
            <li class="job__activity">Styled Components</li>
            <li class="job__activity">Node</li>
            <li class="job__activity">Heroku</li>
            <li class="job__activity">Websockets</li>
            <li class="job__activity">Figma</li>
            <li class="job__activity">MongoDB</li>
            <li class="job__activity">Redux</li>
          </ul>
        </div>
        <div class="job__study">
          <ul class="case__list">
            <li class="case__item">
              <a href="/studies/eatin/" class="case__link">Case Study</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="experience__job">
        <div class="job__title"><h3 data-aos="fade-down" data-aos-delay="500">Front-End Lead</h3></div>
        <div class="job__details">
          <h4 class="job__place" data-aos="fade-right" data-aos-delay="600">Kamikaze Lab</h4>
          <h4 class="job__date" data-aos="fade-left" data-aos-delay="600">2012-2019</h4>
        </div>
        <div class="job__description" data-aos="fade" data-aos-delay="700">
          <p>
            Working over 7 years on this marketing agency in a fast-paced environment, constantly under pressure, with multiple deliveries at the same time for our clients brought me nothing but mastery, cunning and quickness in my performance as web developer.
          </p>
          <p>
            I evolved as web technologies did. Starting as junior I become a leader and co-director of the IT department, focused in R&D to bring our team new tools and standards for their development experience improvement.
          </p>
        </div>
        <div class="job__activities">
          <ul class="job__activities__list" data-aos="fade-right" data-aos-delay="800">
            <li class="job__activity">React</li>
            <li class="job__activity">GraphQL</li>
            <li class="job__activity">Styled Components</li>
            <li class="job__activity">NextJS</li>
            <li class="job__activity">Django</li>
            <li class="job__activity">CMSs</li>
            <li class="job__activity">Rest API</li>
            <li class="job__activity">Serverless</li>
            <li class="job__activity">Node</li>
            <li class="job__activity">AWS</li>
            <li class="job__activity">SEO</li>
            <li class="job__activity">PWA</li>
            <li class="job__activity">Videogames (Web/Mobile)</li>
            <li class="job__activity">Newsletters</li>
            <li class="job__activity">Websockets</li>
            <li class="job__activity">MongoDB</li>
            <li class="job__activity">MySQL</li>
            <li class="job__activity">PostgreSQL</li>
            <li class="job__activity">Git - Beanstalk</li>
          </ul>
        </div>
        <div class="job__study">
          <ul class="case__list">
            <li class="case__item">
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
