<section class="experience">
    <div class="experience__title" id="experience">
        <h2 data-aos="fade-right">Experience</h2>
    </div>
    <div class="experience__jobs">
        <ul class="experience__list">
            <li class="experience__job">
                <div class="job__title"><h3 data-aos="fade-down" data-aos-delay="200">Web UI Developer</h3></div>
                <div class="job__details">
                    <h4 class="job__place" data-aos="fade-right" data-aos-delay="300">Globant</h4>
                    <h4 class="job__date" data-aos="fade-left" data-aos-delay="300">2020 - Present</h4>
                </div>
                <div class="job__description" data-aos="fade" data-aos-delay="400">
                    <p>Delectus inventore rerum quod ipsa voluptate dolor reprehenderit adipisci. Consequatur dolores sed est voluptate ut ducimus. Quaerat et explicabo et voluptatum aut iste qui occaecati ut.</p>
                </div>
                <div class="job__activities">
                    <ul class="job__activities__list" data-aos="fade-right" data-aos-delay="500">
                        <li class="job__activity">AngularJS</li>
                        <li class="job__activity">React</li>
                        <li class="job__activity">Cypress</li>
                        <li class="job__activity">Jest</li>
                        <li class="job__activity">Redux</li>
                        <li class="job__activity">Image processing</li>
                        <li class="job__activity">File generation</li>
                        <li class="job__activity">Styorybook</li>
                        <li class="job__activity">SASS</li>
                        <li class="job__activity">Typescript</li>
                        <li class="job__activity">Async - API Rest</li>
                        <li class="job__activity">Postman</li>
                        <li class="job__activity">Agile - Jira</li>
                        <li class="job__activity">Confluence</li>
                        <li class="job__activity">Git (GitHub - Gitlab)</li>
                    </ul>
                </div>
            </li>
            <li class="experience__job">
                <div class="job__title"><h3 data-aos="fade-down" data-aos-delay="200">FullStack / Designer</h3></div>
                <div class="job__details">
                    <h4 class="job__place" data-aos="fade-right" data-aos-delay="300">Eat-In App</h4>
                    <h4 class="job__date" data-aos="fade-left" data-aos-delay="300">2019 - 2020</h4>
                </div>
                <div class="job__description" data-aos="fade" data-aos-delay="400">
                    <p>Delectus inventore rerum quod ipsa voluptate dolor reprehenderit adipisci. Consequatur dolores sed est voluptate ut ducimus. Quaerat et explicabo et voluptatum aut iste qui occaecati ut.</p>
                </div><div class="job__activities">
                    <ul class="job__activities__list" data-aos="fade-left" data-aos-delay="500">
                        <li class="job__activity">React Native</li>
                        <li class="job__activity">React - Web</li>
                        <li class="job__activity">Styled Components</li>
                        <li class="job__activity">Node</li>
                        <li class="job__activity">Heroku</li>
                        <li class="job__activity">Websockets</li>
                        <li class="job__activity">Figma</li>
                        <li class="job__activity">MongoDB</li>
                        <li class="job__activity">Redux</li>
                    </ul>
                </div>
            </li>
            <li class="experience__job">
                <div class="job__title"><h3 data-aos="fade-down" data-aos-delay="500">Front-End Lead</h3></div>
                <div class="job__details">
                    <h4 class="job__place" data-aos="fade-right" data-aos-delay="600">Kamikaze Lab</h4>
                    <h4 class="job__date" data-aos="fade-left" data-aos-delay="600">2012-2019</h4>
                </div>
                <div class="job__description" data-aos="fade" data-aos-delay="700">
                    <p>Delectus inventore rerum quod ipsa voluptate dolor reprehenderit adipisci. Consequatur dolores sed est voluptate ut ducimus. Quaerat et explicabo et voluptatum aut iste qui occaecati ut.</p>
                </div><div class="job__activities">
                    <ul class="job__activities__list" data-aos="fade-right" data-aos-delay="800">
                        <li class="job__activity">React</li>
                        <li class="job__activity">GraphQL</li>
                        <li class="job__activity">Styled Components</li>
                        <li class="job__activity">NextJS</li>
                        <li class="job__activity">Django</li>
                        <li class="job__activity">CMSs</li>
                        <li class="job__activity">Rest API</li>
                        <li class="job__activity">Serverless</li>
                        <li class="job__activity">Node</li>
                        <li class="job__activity">AWS</li>
                        <li class="job__activity">SEO</li>
                        <li class="job__activity">PWA</li>
                        <li class="job__activity">Videogames (Web/Mobile)</li>
                        <li class="job__activity">Newsletters</li>
                        <li class="job__activity">Websockets</li>
                        <li class="job__activity">MongoDB</li>
                        <li class="job__activity">MySQL</li>
                        <li class="job__activity">PostgreSQL</li>
                        <li class="job__activity">Git - Beanstalk</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>
