<section class="fold">
    <div class="fold__drawing">
        <img class="fold__painting" src="images/cubism.png" alt="cubism painting"/>
    </div> 
    <div class="fold__me">
        <div class="fold__namerow fit"><h1 class="fold__name" data-aos="fade-up">Jessai Maya</h1></div>
        <div class="fold__front minfit"><h2 data-aos="fade-up">Front-end</h2></div>
        <div class="fold__description">
            <p data-aos="fade">
                As a former student I consider myself a taker for any potential oportunity to continue learning, because de gap between the barely necessary and the optimal knowledge is the constant experience.
            </p>
            <p data-aos="fade">
                ~10 years of experience in web development had gave me the oportunity of improving my skills, working in plenty projects, from static web sites to cloud based/ server dynamic web apps, video games and hybrid mobile apps.
            </p>
        </div>
    </div>
</section>