<section class="fold">
  <div class="fold__drawing" id="canvas_parent">
    <canvas id="canvas">
    </canvas>
    
    </div>
    <div class="fold__me">
        <div class="fold__namerow fit"><h1 class="fold__name" data-aos="fade-up">Jessai Maya</h1></div>
        <div class="fold__front minfit"><h2 data-aos="fade-up">Front-end</h2></div>
        <div class="fold__description">
            <p data-aos="fade">
              I'm Web Developer, formed as multidisciplinary digital artist mainly focused in aesthetics and performance.
            </p>
            <p data-aos="fade">
              Through almost 10 years of professional experience I've had the opportunity to
              continue improving and expanding my skills in developing enterprise solutions for clients in diverse
              industries, not only as a front-end developer but back-end and designer as well.
            </p>
        </div>
      {% include "social_links.html" %}
    </div>
</section>