<section class="fold">
  <div class="fold__drawing" id="canvas_parent">
    <canvas id="canvas">
    </canvas>
    
    </div>
    <div class="fold__me">
        <div class="fold__namerow fit"><h1 class="fold__name" data-aos="fade-up">Jessai Maya</h1></div>
        <div class="fold__front minfit"><h2 data-aos="fade-up">Front-end</h2></div>
        <div class="fold__description">
            <p data-aos="fade">
              I'm Web Developer, formed as multidisciplinary digital artist mainly focused in aesthetics and performance.
            </p>
            <p data-aos="fade">
              Through almost 10 years of professional experience I've had the opportunity to continue improving and expanding my skills developing enterprise solutions for variadic clients in diverse diciplinary fields, taking part not only as front-end developer, but as back-end and designer.
            </p>
        </div>
        <div class="fold__social">
            <ul class="fold__list">
              <li data-aos="fade" class="fold__list-item themed dark"><a target="_blank" class="fold__link" title="github" href={{ config.extra.github }}><img src="images/dark_github.svg" alt="Github"></a></li>
              <li data-aos="fade" class="fold__list-item themed light"><a target="_blank" class="fold__link" title="github" href={{ config.extra.github }}><img src="images/light_github.svg" alt="Github"></a></li>
              <li data-aos="fade" class="fold__list-item themed dark"><a target="_blank" class="fold__link" title="linkedIn" href={{ config.extra.linkedin }}><img src="images/dark_linkedin.svg" alt="LinkedIn"></a></li>
              <li data-aos="fade" class="fold__list-item themed light"><a target="_blank" class="fold__link" title="linkedIn" href={{ config.extra.linkedin }}><img src="images/light_linkedin.svg" alt="LinkedIn"></a></li>
              <li data-aos="fade" class="fold__list-item themed dark"><a target="_blank" class="fold__link" title="twitter" href={{ config.extra.twitter }}><img src="images/dark_twitter.svg" alt="Twitter"></a></li>
              <li data-aos="fade" class="fold__list-item themed light"><a target="_blank" class="fold__link" title="twitter" href={{ config.extra.twitter }}><img src="images/light_twitter.svg" alt="Twitter"></a></li>
              <li data-aos="fade" class="fold__list-item themed dark"><a target="_blank" class="fold__link" title="polywork" href={{ config.extra.polywork }}><img src="images/dark_polywork.svg" alt="Polywork"></a></li>
              <li data-aos="fade" class="fold__list-item themed light"><a target="_blank" class="fold__link" title="polywork" href={{ config.extra.polywork }}><img src="images/light_polywork.svg" alt="Polywork"></a></li>
              <li data-aos="fade" class="fold__list-item themed dark"><a target="_blank" class="fold__link" title="replit" href={{ config.extra.replit }}><img src="images/dark_replit.svg" alt="Replit"></a></li>
              <li data-aos="fade" class="fold__list-item themed light"><a target="_blank" class="fold__link" title="replit" href={{ config.extra.replit }}><img src="images/light_replit.svg" alt="Replit"></a></li>
              <li data-aos="fade" class="fold__list-item themed dark"><a target="_blank" class="fold__link" title="Gmail" href={{ config.extra.gmail }}><img src="images/dark_gmail.svg" alt="Gmail"></a></li>
              <li data-aos="fade" class="fold__list-item themed light"><a target="_blank" class="fold__link" title="Gmail" href={{ config.extra.gmail }}><img src="images/light_gmail.svg" alt="Gmail"></a></li>
            </ul>
        </div>
    </div>
</section>