{% extends "base.html" %}
{% block head_scripts %}
<link rel="preload" href="/index-6f5ab099c23608fe_bg.wasm" as="fetch" type="application/wasm" crossorigin="">
<link rel="modulepreload" href="/index-6f5ab099c23608fe.js">
{% endblock %}

{% block content %}

{% include "fold.html" %}
{% include "mantra.html" %}
{% include "interests_education.html" %}
{% include "skills.html" %}
{% include "experience.html" %}

{% endblock %}

{% block external_scripts %}
<script src="./fittext.js"></script>
<script  type="module" src="./poster.js"></script>
<script  src="./base.js"></script>
{% endblock %}
