<section class="interests">
    <div class="interests__heading minim"><h2 data-aos="fade-up">Interests & Education</h2></div>
    <div class="interests__education">
        <section class="interests__block">
            <ul class="interests__list">
                <li data-aos="slide-right" class="interest">UI/UX</li>
                <li data-aos="slide-left" class="interest">Micro-Interactions</li>
                <li data-aos="slide-right" class="interest">Creative Code</li>
                <li data-aos="slide-left" class="interest">WASM</li>
            </ul>
        </section>
        <section class="interests__edusection">
            <ul class="education__list">
                <li data-aos="slide-left">
                    <p class="education__name">B. Animation & Digital Arts, 2011</p>
                    <p class="education__institute">ITESM</p>
                </li>
                <li data-aos="slide-right">
                    <p class="education__name">Digital Arts  | Academic Specialization, 2010</p>
                    <p class="education__institute">ITESM</p>
                </li>
            </ul>
        </section>
    </div>
</section>