<section class="interests">
    <div class="interests__heading minim"><h2>Interests & Education</h2></div>
    <div class="interests__education">
        <section class="interests__block">
            <ul class="interests__list">
                <li class="interest">UI/UX</li>
                <li class="interest">Micro-Interactions</li>
                <li class="interest">Creative Code</li>
                <li class="interest">WASM</li>
            </ul>
        </section>
        <section class="interests__edusection">
            <ul class="education__list">
                <li>
                    <p class="education__name">B. Animation & Digital Arts, 2011</p>
                    <p class="education__institute">ITESM</p>
                </li>
                <li>
                    <p class="education__name">Digital Arts  | Academic Specialization, 2010</p>
                    <p class="education__institute">ITESM</p>
                </li>
            </ul>
        </section>
    </div>
</section>