<ul class="navbar" id="navbar">
    <li
        class="navbar__link{% if current_path == "/" %}-active{% endif %}"
    >
        <a
            href="/"
            title="Home"
            class="navbar__link"
        >
            Home
        </a>
    </li>
  <li
       class="navbar__link{% if current_path  is containing("/studies/") %}-active{% endif %}"
   >
   <a
       href="/studies"
       title="Studies"
       class="navbar__link"
   >
     Studies
   </a>
   </li>
  
  <!--
    <li
        class="navbar__link{% if current_path == "/projects/" %}-active{% endif %}"
    >
        <a
            href="/projects"
            title="Projects"
            class="navbar__link"
        >
            Projects
        </a>
    </li>
    -->
    <li
        class="navbar__link{% if current_path == "/contact/" %}-active{% endif %}"
    >
        <a
            href="/contact"
            title="Contact"
            class="navbar__link"
        >
            Contact
        </a>
    </li>
    <ul class="navbar__themes">
        <li>
            <button
                class="navbar__theme"
                title="Switch theme"
                onclick="switchTheme()"
            >
            </button>
        </li>
    </ul>
    <button class="navbar__menuicon" onclick="toggleNavbar()">
        <img src="/images/navbar_light.svg" alt="navbar icon" class="themed light" />
        <img src="/images/navbar_black.svg" alt="navbar icon" class="themed dark" />
    </button>
</ul>