<section class="skills">
  <div class="skills__details">
    <div class="skills__title" id="skills"><h2 data-aos="fade-up">Skillls</h2></div>
    <div class="skills__row">
      <ul class="skills__list">
        <li data-aos="fade-down" title="Skilled"><img src="images/html.svg" alt="html"/></li>
        <li data-aos="fade-down" data-aos-delay="100" title="Skilled"><img src="images/css.svg"/></li>
        <li data-aos="fade-down" data-aos-delay="200" title="Skilled"><img src="images/javascript.svg"/></li>
        <li data-aos="fade-down" data-aos-delay="300" title="Intermediate"><img src="images/typescript.svg"/></li>
        <li data-aos="fade-down" data-aos-delay="400" title="Intermediate"><img src="images/node.svg"/></li>
        <li data-aos="fade-down" data-aos-delay="500" title="Intermediate"><img src="images/graphql.svg"/></li>
      </ul>
    </div>
    <div class="skills__row">
      <ul class="skills__list">
        <li data-aos="fade-up" data-aos-delay="600" title="Intermediate" class="themed light"><img
            src="images/next.svg"/></li>
        <li data-aos="fade-up" data-aos-delay="600" title="Intermediate" class="themed dark"><img
            src="images/next_dark.svg"/></li>
        <li data-aos="fade-up" data-aos-delay="500" title="Intermediate"><img src="images/redux.svg"/></li>
        <li data-aos="fade-up" data-aos-delay="400" title="Beginner"><img src="images/webpack.svg"/></li>
        <li data-aos="fade-up" data-aos-delay="300" title="Intermediate"><img src="images/git.svg"/></li>
        <li data-aos="fade-up" data-aos-delay="200" title="Beginner"><img src="images/wasm.svg"/></li>
        <li data-aos="fade-up" data-aos-delay="100" title="Beginner" class="themed light"><img src="images/rust.svg"/>
        </li>
        <li data-aos="fade-up" data-aos-delay="100" title="Beginner" class="themed dark"><img
            src="images/rust_dark.svg"/></li>
      </ul>
    </div>
  </div>
  <div class="skills__react" title="Skilled">
    <img src="images/react.svg" alt="React js logo" data-aos="zoom-in-up" data-aos-delay="500">
    <h3 id="fitReact" data-aos="fade-up" data-aos-delay="700">React</h3>
  </div>
</section>