<section class="skills">
    <div class="skills__details">
        <div class="skills__title" id="skills"><h2>Skillls</h2></div>
        <div class="skills__row">
            <ul class="skills__list">
                <li title="Skilled"><img src="images/html.svg" alt="html" /></li>
                <li title="Skilled"><img src="images/css.svg" /></li>
                <li title="Skilled"><img src="images/javascript.svg" /></li>
                <li title="Intermediate"><img src="images/typescript.svg" /></li>
                <li title="Intermediate"><img src="images/node.svg" /></li>
                <li title="Intermediate"><img src="images/graphql.svg" /></li>
            </ul>
        </div>
        <div class="skills__row">
            <ul class="skills__list">
                <li title="Intermediate"><img src="images/next.svg" class="themed light" /></li>
                <li title="Intermediate"><img src="images/next_dark.svg" class="themed dark" /></li>
                <li title="Intermediate"><img src="images/redux.svg" /></li>
                <li title="Beginner"><img src="images/webpack.svg" /></li>
                <li title="Intermediate"><img src="images/git.svg" /></li>
                <li title="Beginner"><img src="images/wasm.svg" /></li>
                <li title="Beginner"><img src="images/rust.svg" class="themed light" /></li>
                <li title="Beginner"><img src="images/rust_dark.svg" class="themed dark" /></li>
            </ul>
        </div>
    </div>
    <div class="skills__react" title="Skilled">
        <img src="images/react.svg" alt="React js logo">
        <h3 id="fitReact">React</h3>
    </div>
</section>